Sources/.NET/caClient/Service References/caServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/caCoreLibrary" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="ConnectResult" nillable="true" type="q1:caMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="GetMessagesResult" nillable="true" type="q2:ArrayOfcaMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipantRelationAnalysisResultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParticipantRelationAnalysisResultListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="GetParticipantRelationAnalysisResultListResult" nillable="true" type="q3:ArrayOfcaRelationAnalysisResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowAnalysisResultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlowAnalysisResultListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="GetFlowAnalysisResultListResult" nillable="true" type="q4:ArrayOfcaFlowAnalysisResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagParticipantAnalysisResultList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagParticipantAnalysisResultListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="GetTagParticipantAnalysisResultListResult" nillable="true" type="q5:ArrayOfcaTagParticipantAnalysisResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadParticipantResult" nillable="true" type="q6:caParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="actualP" nillable="true" type="q7:caParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="SaveParticipantResult" nillable="true" type="q8:caParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadParticipantGroupsResult" nillable="true" type="q9:ArrayOfcaParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="groups" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="SaveParticipantGroupsResult" nillable="true" type="q11:ArrayOfcaParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadParticipantMembersResult" nillable="true" type="q12:ArrayOfcaParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="members" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="SaveParticipantMembersResult" nillable="true" type="q14:ArrayOfcaParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadParticipantAddressResult" nillable="true" type="q15:ArrayOfcaParticipantAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_participantId" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="address" nillable="true" type="q16:ArrayOfcaParticipantAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveParticipantAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="SaveParticipantAddressResult" nillable="true" type="q17:ArrayOfcaParticipantAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadParticipantListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadParticipantListResult" nillable="true" type="q18:ArrayOfcaParticipant" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceParticipant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_fromPID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_toPID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReplaceParticipantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="ReplaceParticipantResult" nillable="true" type="q19:caMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTagList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTagListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoadTagListResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTaggingRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ruleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunTaggingRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="RunTaggingRuleResult" nillable="true" type="q21:caMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="DeleteTagResult" nillable="true" type="q22:caMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTaggingRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ruleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTaggingRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadTaggingRuleResult" nillable="true" type="q23:caTaggingRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTaggingRuleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadTaggingRuleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="LoadTaggingRuleListResult" nillable="true" type="q24:ArrayOfcaTaggingRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTaggingRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="tr" nillable="true" type="q25:caTaggingRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTaggingRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/caCoreLibrary" minOccurs="0" name="SaveTaggingRuleResult" nillable="true" type="q26:caTaggingRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>